:root {
    --submenu--clr: #a7a7a7;
    --menuTitle--clr: #4d4d4d;
    --menu--border--clr: #f0efef;
}

*{
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: auto 1fr;
}

.sidebar-header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 8px;
    margin-bottom: 18px;
}

.menu {
    box-sizing: border-box;
    height: 100vh;
    width: 220px;
    position: fixed;
    border-right: 0.4px solid var(--menu--border--clr);
    list-style: none;
    position: sticky;
    top: 0;
}

.menu-item {
    margin: 0;
    padding: 10px 1em;
}



.menu-title {
    font-family: "Gill Sans", sans-serif;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: -0.5px;
    color: var(--menuTitle--clr);
    background: none;
    border: none;
}

.submenu {
    overflow: hidden;
    max-height: 0;
    list-style: none;
    transition: max-height 300ms ease-in-out;
}

.submenu a {
    text-decoration: none;
    font-family: "Gill Sans", sans-serif;
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: -0.5px;
    color: var(--submenu--clr);
    gap: 7px;
    display: flex;
    margin: 2px;
    padding: 5px 1em;
}

.menu-item.open .submenu {
    display: block;
    max-height: 75px;
}